html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.video-container {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.centered-text {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: 'Arial', sans-serif;
  animation: jiggleAnimation 2s infinite, colorChangeAnimation 4s infinite;
}

@media (max-width: 768px) {
  .centered-text {
    font-size: 24px;
  }
}
