.video-container {
  position: relative;
  width: 100%;
}

.background-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

@keyframes jiggleAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(-2deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(2deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-2deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(2deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes colorChangeAnimation {
  0% {
    color: blue;
  }
  25% {
    color: violet;
  }
  50% {
    color: black;
  }
  75% {
    color: orange;
  }
  100% {
    color: blue;
  }
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: 'Arial', sans-serif;
  animation: jiggleAnimation 2s infinite, colorChangeAnimation 4s infinite;
}
